/* common shared style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
  font-family: 'Inter', sans-serif;

}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

/* banner section style */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner .subtitle {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}

/* all categories section style */
.allcategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0px;
}


.allcategories h6 {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
}

.allcategories h4 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 6px;
}

.allcategories h2 {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.allcategories img {
  width: 802.9px;
  height: 400px;
  margin: 20px 0px;
}

/* welcome to midnight party section style */
.Welcome-to-midnight-party {
  width: 100%;
  height: 500px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
  background-size: cover;
  border-radius: 15px;
  margin: 100px 0px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeDescription {
  width: 697px;
  margin-left: -400px;
}

.welcomeDescription h3 {
  color: #FFF;
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 7.04px;
}

.welcomeDescription p {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 0px;
}

.welcomeDescription h6 {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10x;
}

/* join now sectio style */
.joinnow {
  width: 100%;
  height: 482px;
  background: linear-gradient(180deg,
      rgba(255, 0, 0, 0.1) 0%,
      rgba(255, 0, 0, 0) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinnow span {
  color: red;
  margin-right: 10px;
}

.joinnow p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.joinnow button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

/* comming soon section style */
.commingsoon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.commingsoon .div1 h5 {
  color: #f00;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.commingsoon .div1 h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 8px 0px;
}

.commingsoon .div1 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.commingsoon .div2 {
  width: 250px;
  height: 250px;
  border: 8px solid red;
  border-radius: 50%;
  margin-left: 20px;
}

.commingsoon .div2 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 20px;
}

.commingsoon .div3 h4 {
  color: #f00;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2px;
  margin-bottom: 8px;
}

.commingsoon .div3 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.commingsoon .div3 img {
  width: 140px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* holiday section style */
.holidays {
  margin-top: 80px;
  margin-bottom: 200px;
}

.holidays-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;

  text-align: center;
  margin: auto;
}

.holidays-description .title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}

.holidays-description .subtitle span {
  color: red;
}

.holidays-description .subtitle {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 8px;
}

.holidays-description p {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.holidaysimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.img1,
.img2 {
  flex: 1;
  text-align: center;
}

.img1 img,
.img2 img {
  width: 429px;
  height: 433px;
  object-fit: cover;
}

.img1 {
  margin-left: 121px;
  margin-top: 142px;
  z-index: 999;
}

.img2 {
  margin-left: 280px;
  position: relative;
}

.discountimg {
  position: absolute;
  top: 125px;
  left: -70px;
  width: 150px;
  height: 150px;
}

.discountimg img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}


.bottomimg {
  width: 100%;
  height: 150px;
  background-color: red;
  border-radius: 16px 0px 16px 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 433px;
  z-index: 5px;
}

/* awesome portfolio section style */

.ourportfolio {
  margin-bottom: 50px;
}

.portfolio-description {
  width: 600px;
}

.portfolio-description h5 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.portfolio-description h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
  margin: 6px 0px;
}

.portfolio-description p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.ourportfolio-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 10px;
  padding-top: 20px;
}

.ourportfolio-img img {
  width: 424px;
  height: 450px;
  object-fit: cover;
}

/* subscribe sections style */
.Subscribe-newsletter {
  width: 100%;
  height: 516px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Subscribe-newsletter-description {
  max-width: 700px;
}

.Subscribe-newsletter-description img {
  max-width: 100%;
  height: auto;
}

.Subscribe-newsletter-description h2 {
  margin: 5px 0px;
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.Subscribe-newsletter-description p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Subscribe-newsletter-description .subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.Subscribe-newsletter-description .subscribe input {
  padding: 16px 16px;
  margin-top: 20px;
  box-sizing: border-box;
  border: none;
  width: 300px;
  border-radius: 20px 0px 0px 20px;
}

.Subscribe-newsletter-description .subscribe button {
  padding: 16px;
  margin-top: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 0px 20px 20px 0px;
  background: red;
  color: #fff;
  cursor: pointer;
}

/* Footer section style */
.footer {
  background: #070211;
  width 100%;
  height: auto;
  color: #fff;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}

.footer-text p {
  display: flex;
  align-items: center;
  line-height: 24px;

}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icon img {
  margin: 0 5px;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}